{% extends 'base.html' %}

{% load staticfiles %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link link text-black display-4" href="{% url 'board_main' %}">전체 강의 보기</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link text-black display-4" href="{% url 'board_local' %}">지역별 교육</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link text-black display-4" href="{% url 'board_major' %}">분야별 교육</a>
    </li>
{% endblock %}

{% block content %}
<section class="mbr-section content5 cid-ruXCVKDreY mbr-parallax-background" id="content5-1f">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(85, 180, 212);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">About Us</h2>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-ruXHzFNbH4" id="content2-1i">
        <div class="container">
            <div class="media-container-row">
                <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                    <blockquote>
                        <strong>교육곡곡 - 교육의 기회를 우리나라 방방곡곡으로 넓히자.</strong><br>
                        우리 교육곡곡은 오프라인 교육 매칭 서비스를 제공합니다.<br>
                        요즘은 온라인 강의도 매우 많지만 IT, 예체능 등의 분야에서는<br>
                        오프라인 교육에서의 밀착지도가 함께 한다면<br>
                        교육효과가 극대화 될 수 있다고 생각했습니다.<br>
                        누구나 언제 어디서든지 멘토, 멘티가 될 수 있으며<br>
                        서로 재능을 공유할 수 있습니다.<br>
                        우리는 단순 재능 공유 서비스에서 더 나아가 오프라인 교육을 더 활성화 하기 위해<br>
                        지역별로 멘토와 멘티를 매칭시켜드립니다.<br><br>
                        우리나라에서 교육의 기회를 넓히는데에 함께 해주세요.
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
{% endblock %}