{% extends 'base.html' %}

{% load staticfiles %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link link text-black display-4" href="{% url 'board_local' %}">지역별 교육</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link text-black display-4" href="{% url 'board_major' %}">분야별 교육</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link text-black display-4" href="{% url 'aboutus' %}">About Us</a>
    </li>
{% endblock %}

{% block content %}
<br><br>
<section class="features1 cid-ruNBDZ0eEF" id="features1-8" style="background-color:#e0e0e0">
    <div class="container">
        <div class="media-container-row">
            {% for mento in object_list %}
            <div class="card p-3 col-12 col-md-6 col-lg-4" style="border: 2px solid #0f7799">
                <br>
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-sale" style="color: rgb(15, 118, 153); fill: rgb(15, 118, 153); font-size: 80px;"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">{{mento.title}}</h4>
                    <p class="mbr-text mbr-fonts-style display-7">분야 : {{mento.major}}</p>
                    <p class="mbr-text mbr-fonts-style display-7">지역 : {{mento.area}}</p>
                <span class="vspacer"></span>
                <p class="py-3 mbr-fonts-style">
                    <a href="{% url 'detail' mento.id %}" class="btn btn-outline-info">READ MORE » </a>
                </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

