{% extends 'base.html' %}

{% load staticfiles %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link link text-black display-4" href="{% url 'board_main' %}">전체강의보기</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link text-black display-4" href="{% url 'board_local' %}">지역별 교육</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link text-black display-4" href="{% url 'board_major' %}">분야별 교육</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link text-black display-4" href="{% url 'aboutus' %}">About us</a>
    </li>
{% endblock %}

{% block content %}
    <section class="cid-ruNtyUeTOv mbr-fullscreen mbr-parallax-background" id="header2-1">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

        <div class="container align-center">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1"><span style="font-weight: normal;">
                        교육의 기회를<br>우리나라 방방곡곡으로.</span></h1>
                    
                    <p class="mbr-text pb-3 mbr-fonts-style display-5">
                        언제, 어디서나, 누구나 멘토와 멘티가 될 수 있습니다.<br>
                        단순 재능공유에서 나아가 지역별 매칭 서비스.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class = 'container'>
        <br><br>
        <h2>교육 곡곡 로그인!</h2>
    
        {% if error %}
        {{ error }}
        <br>
        <br>
        {% endif %}
    
        <h1>Login</h1>
    
        <form method="POST" action="{% url 'login'%}">
        
        {% csrf_token %}
        Username:
        <br>
        <input id = "username" name="username" type="text" value="">
        <br>
        Password:
        <br>
        <input id = "pwd"  name="pwd" type="password" value="">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
    </div>
{% endblock %}